name: Python tests
on:
  push:
    branches: ["master", "development"]
  pull_request:
    branches: ["master", "development"]
  workflow_dispatch:

jobs:
  build:
    runs-on: [ubuntu-latest, ubuntu-22.04, macos-latest]
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install aiogram pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Install env
        run: |
          python setup.py install
          python setup.py develop
      - name: Test with pytest
        run: |
          pytest
